 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>
       I've created a few websites one of which uses Material Design Lite and interacts over PHP with my local Raspberry and automates my room
      </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I've created a python scripts to help with my daily life for more than two years now. In school we're working with C# to build Form Applications</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <p>I'm using GitHub for my latest projects. But many of my Raspberry Projets are not on GitHub yet.</p>
    </div>
</div>
