<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="DHBW_Scrape" src="/src/img/loerrach_exceltable.jpg" />
 	</div>
  <div class="contents">
    <h3> DHBW_Scrape </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>A simple project to give a better overview over the DHBW Partner Companys</p>
    <a class="project-link" href="https://tschuehly.github.io/DHBW_Scrape/">Check it out</a>
  </div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="toddleplayer" src="https://raw.githubusercontent.com/Thaiminater/toddleplayer/master/toddleplayer_wiring.JPG" />
 	</div>
  <div class="contents-right">
    <h3> toddleplayer </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>MP3 and Spotify Player controlled through RFID Tags and GPIO Buttons for kids.</p>
    <a class="project-link" href="https://github.com/tschuehly/toddleplayer">Check it out</a>
  </div>
</div>
